h1= author
h3= about
hr
ul.topics
  for skill in skills
    li= skill
hr
a(href="mailto:#{email}" title="Email me =)")= email
ul.social
  for social in networks
    li
      a(href=social.link, target="_blank")
        i.fab(aria-hidden='true' class=social.icon title=social.site)
